---
import Socials from './Socials.astro';
---

<footer>
  <div class="u-container u-grid grid-container">
    <Socials />
  </div>
</footer>

<style>
  footer {
    padding-top: var(--space-s);
    min-height: var(--footer-height);
    width: 100vw;
    background-color: transparent;
  }

  .grid-container {
    padding: 0 var(--space-xl);
  }
</style>
